{# src/TestBundle/Resources/views/LengowOrder/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}New order{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Create order</h1>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.order_id, "#Order", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {{ form_errors(form.order_id) }}

                <div class="col-sm-4">
                    {{ form_widget(form.order_id, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.marketplace, "Marketplace", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {{ form_errors(form.marketplace) }}

                <div class="col-sm-4">
                    {{ form_widget(form.marketplace, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.order_amount, "Amount", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-4">
                    {{ form_widget(form.order_amount, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-sm-6">
                    {{ form_errors(form.order_amount) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.order_currency, "Currency", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {{ form_errors(form.order_currency) }}

                <div class="col-sm-4">
                    {{ form_widget(form.order_currency, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="btn-group pull-right">
                <a href="{{ path('_homepage') }}" class="btn btn-default">Back</a>
                {{ form_widget(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}