{# src/TestBundle/Resources/views/LengowOrder/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}List of orders{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>TestBundle</h1>

            <a href="{{ path('_addOrder') }}" type="button" class="btn btn-default">Add new order</a>
            <a href="{{ path('_api') }}" type="button" class="btn btn-default">Export to Json</a>
            <a href="{{ path('_api', {'export_type': 'yaml'}) }}" type="button" class="btn btn-default">Export to Yaml</a>

            {{ grid(grid) }}
        </div>
    </div>
{% endblock %}